%p#notice= notice

%p
  %b Name:
  = @player.name
%p
  %b Age:
  = @player.age
%p
  %b Means team:
  = @player.means_team
%p
  %b Coach:
  = @player.coach

= link_to 'Edit', edit_player_path(@player)
\|
= link_to 'Back', players_path
